#top-navbar{
    
    display: flex;
    width: 100%;  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}


#nav-id{

    display: flex;
    border: black;
    font-size: 22px;   
    height: 100%;
    margin-left: 100px;
    /* border-style: solid; */
   
}


#nav-id  p {
    margin : 22px;
}


#nav-id a{
    /* float: left;
    display: block; */
    
    color: black;
    text-decoration: none;
}