#top-navbar{
    display: flex;
    width: 100%;  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border: black;
    /* border-style: solid; */
    justify-content: space-between;
}

#nav-id{
    display: flex;
    border: black;
    font-size: 22px;   
    height: 100%;
    margin-left: 100px;
   
    /* border-style: solid; */
}

#nav-id  p {
    margin : 22px;
}

#nav-id a{
    /* float: left;
    display: block; */  
    color: #032E6E; 
    opacity: 0.35;
    text-decoration: none;
}
 
#nav-id a:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#btn-conatianer{
    float: right;
    justify-content: flex-end;
}

#hire-me{
    width: 200px;
}


.hire-me{
    width: 150px;
    height: 38px;
    background-color:#2762BC;
    color: white;
    font-size: 18px;
    border-color:#2762BC;
    margin: 18px;
    border-style: solid;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}